@use '../partials/header.scss' as *;

.container{
    header{
        background-color: rgba(31, 19, 213, 0.824);
    }
    main{
        position: absolute;
        top: 15%;

        
       
    }
}